@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

body {
    background-color: #fddb92;
    margin: 0;
    font-family: 'Andika New Basic', sans-serif;
}

.container {
    max-width: 900px;
    margin: 1rem 15rem;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fddb92;
    padding: 0 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.form-group > label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
}

.btn {
    background-color: #406CBD;
   color: white;
   padding: .5em 1em;
   border-radius: .3em;
   border: none;
   cursor: pointer;
}

.btn:hover {
   background-color: #1B3970;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: #fff;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    height: 250px;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
}

.flashcard-options {
    margin-top: 0.5rem;
}

.flashcard-option {
    margin-top: 0.20rem;
    color: #555;
    font-size: .70rem;
}

.flashcard-option:first-child {
    margin-top: 0;
}